{% if page.social %}
<div class="social">
  <div class="contact-icons">
    {% if site.email and site.email != blank -%}
      <a href="mailto:{{ site.email | encode_email }}" title="email"><i class="fa-solid fa-envelope"></i></a>
    {%- endif %}
    {% if site.scholar_userid and site.scholar_userid != blank -%}
      <a href="https://scholar.google.com/citations?user={{ site.scholar_userid }}" title="Google Scholar" target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
    {%- endif %}
    {% if site.orcid_id and site.orcid_id != blank -%}
      <a href="https://orcid.org/{{ site.orcid_id }}" title="ORCID" target="_blank" rel="noopener noreferrer"><i class="ai ai-orcid"></i></a>
    {%- endif %}
    {% if site.researchgate and site.researchgate != blank -%}
      <a href="https://www.researchgate.net/profile/{{ site.researchgate }}" title="ResearchGate" target="_blank" rel="noopener noreferrer"><i class="ai ai-researchgate"></i></a>
    {%- endif %}
    {% if site.linkedin_username and site.linkedin_username != blank -%}
      <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="LinkedIn" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin"></i></a>
    {%- endif %}
    {% if site.twitter_username and site.twitter_username != blank -%}
      <a href="https://twitter.com/{{ site.twitter_username }}" title="Twitter" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-x-twitter"></i></a>
    {%- endif %}
    {% if site.facebook_id and site.facebook_id != blank -%}
      <a href="https://facebook.com/{{ site.facebook_id }}" title="Facebook" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i></a>
    {%- endif %}
    {% if site.instagram_id and site.instagram_id != blank -%}
      <a href="https://instagram.com/{{ site.instagram_id }}" title="Instagram" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
    {%- endif %}
  </div>
  {% if site.contact_note %}<div class="contact-note">{{ site.contact_note }}</div>{% endif %}
</div>
{% endif %}
